@import "tailwindcss";
@tailwind utilities;
@layer theme {
  @theme {
    --color-primary: #3e92d1;
    --color-primary-dark: #2c3e50;
    --color-primary-background: #f4f6f8;
    --color-white-bg: #ffffff;
    --color-header: #00004c;
    --color-black-text: #000007;
    --color-gray-text: #4c4c4c;
    --color-lightgray-text: #999999;
    --color-white-text: #ffffff;
    --color-primary-bg: #f4f6f8;

    --color-brand-light: #a2d2ff;
    --color-brand: #2196f3;
    --color-brand-dark: #0b4f6c;
  }
}
